.md-main {
    background-color: #14151a;
}

ul .md-tabs__list {
    overflow: scroll;
}

.md-content__inner {
    font-size: 0.8rem;
    margin-bottom: 200px;
    min-height: 100vh;
}

.md-content__inner > blockquote {
    margin-top: 50px;
}

.md-footer * {
    font-size: 0.7rem;
    position: relative !important;
}

.md-footer-meta__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* kode inline di tabel tetap cyan */
.md-typeset__table code {
    color: #6791e0 !important;
    font-size: 0.65rem;
}

.md-typeset__table {
    min-width: 100%;
    margin-bottom: 50px;
    overflow-x: scroll;
}

.md-typeset table:not([class]) {
    display: table;
    overflow-x: scroll;
}

.md-typeset table:not([class]) th {
    font-size: 0.75rem;
    background-color: #272a35;
    color: lightgray;
    padding: 5px 10px;
}

.md-typeset table:not([class]) td {
    font-size: 0.75rem;
    padding: 5px 10px;
}

.md-typeset table:not([class]) td,
.md-typeset table:not([class]) tr:hover {
    background-color: transparent !important;
}

.md-typeset__table > button {
    display: none;
    visibility: hidden;
}

.md-typeset ul,
.md-typeset ol {
    line-height: 1.7;
    margin-bottom: 50px;
}

.md-typeset ul li::marker,
.md-typeset ol li::marker {
    color: #6791e0;
}

.toc-highlight {
    animation: fadeHighlight 3s ease-out;
}

@keyframes fadeHighlight {
    0% {
        background-color: rgba(39, 99, 245, 0.2);
    }
    100% {
        background-color: transparent;
    }
}

/* ===== SIDEBAR BASE ===== */
.md-nav {
    font-size: 0.7rem;
    line-height: 1.6;
}

.md-nav__link {
    padding: 3px 6px;
    transition: all 0.2s ease;
    font-size: 0.7rem;
    margin: 0px 0px;
    color: lightgray !important;
}

.md-nav__item--section > .md-nav__link {
    display: flex;
    justify-content: center;
    background-color: transparent !important;
    box-shadow: none !important;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    height: 30px;
    margin-left: -10px;
    color: white !important;
    text-transform: uppercase !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav.md-nav--secondary:nth-child(1) > label:nth-child(1) {
    height: 20px;
    margin-bottom: 15px;
    color: white;
}

/* hover */
.md-nav__link:hover {
    color: white !important;
    background-color: rgba(39, 99, 245, 0.1);
}

/* active item */
.md-nav__link--active {
    color: white !important;
    background-color: rgba(39, 99, 245, 0.2);
}

/* ===== NESTED LEVEL ===== */
.md-nav__list .md-nav__list {
    padding-left: 8px;
}

/* section title */
.md-nav--secondary .md-nav__title {
    font-size: 0.8rem;
    text-transform: uppercase !important;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    padding-bottom: 25px !important;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent !important;
    box-shadow: none !important;
}

.md-nav__link--active {
    position: relative;
}

.md-nav__link--active::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 6px;
    bottom: 6px;
    width: 3px;
    background: #6791e0;
}

/* secondary nav */
.md-nav--secondary .md-nav__title {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 0.7rem;
    color: #999;
}

/* heading spacing */
.md-typeset h1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 2.5rem;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
    text-align: center;
}

.md-typeset h2 {
    margin-top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.md-typeset h3 {
    margin-top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.md-typeset h4 {
    margin-top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.md-typeset h5 {
    margin-top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

.md-typeset h6 {
    margin-top: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-decoration-color: rgba(255, 255, 255, 0.2);
}

/* inline code */
.md-typeset code:not([class]) {
    font-size: 0.7rem;
    color: #6791e0;
}

/* code block spacing */
.md-typeset pre code {
    padding: 1.25em;
    line-height: 1.7;
    margin-bottom: 50px;
    font-size: 0.7rem;
}

/* border code block */
.md-typeset pre:not(.highlight) code {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.md-tabs__item--active > .md-tabs__link {
    font-weight: bold;
}

div.md-header__topic:nth-child(1) > span:nth-child(1) {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: 3px;
}

div.md-header__topic:nth-child(2) > span:nth-child(1) {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: 3px;
}

.md-content__inner img {
    display: block;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #272a35;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: 10rem;
}

.md-code__button {
    color: white !important;
}

.md-code__button:hover {
    color: #526cfe !important;
}

.md-typeset pre code:hover .md-code__button {
    color: white !important;
}

.md-content__inner > blockquote {
    border-top: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-left: 10px solid rgba(255, 255, 255, 0.2) !important;
    border-right: 10px solid rgba(255, 255, 255, 0.2) !important;
    text-align: center;
    border-color: #526cfe !important;
    color: white !important;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
